body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    border-bottom: 1px solid gray;
}

.navigationbar-items {
    color: black;
    background-color: rgb(237, 237, 95);
    border: 1px solid black;
    margin: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px;
    font-size: medium;
    font-weight: 200;
    height: min-content;
    text-align: center;
}

.navigationbar-items:hover {
    background-color: rgb(211, 211, 42);
  }

.songlist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.song {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.song-name {
    color: gray;
    margin: 5px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 5px;
    flex: 0 0 50%;
}

.image {
    flex: 0 0 100%;
}

.artist {
    color: black;
    margin: 2px;
    text-align: center;
    font-weight: 400;
    padding-top: 5px;
    flex: 0 0 50%;
}

.error {
    margin-right: auto;
    margin-left: auto;
    color: red;
    text-align: center;
    font-weight: 600;
    margin-top: 5em;
    padding: 2em;
    width: max-content;
    border: 2px solid red;
    background-color: rgb(247, 217, 217);
}

.stop-button {
    background-color: red;
    width: max-content;
}
