@media only screen and (max-width: 768px) {
    .collapsable {
        display: none !important;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
  }

.account-container {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 1px;
  }

body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    border-bottom: 1px solid gray;
    align-items: center;
}

.navigationbar-items {
    color: black;
    background-color: rgb(237, 237, 95);
    border: 1px solid black;
    margin: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0px;
    font-size: medium;
    font-weight: 200;
    height: min-content;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 2px
}

.collapsable{
    display: flex;
}

.navigationbar-items:hover, .navigationbar-items .active {
    background-color: rgb(211, 211, 42);
  }

.navigationbar-items .active {
    text-decoration: none;
    padding: 4px;
}

.navigationbar-username {
    text-align: right;
    flex-grow: 1;
    padding-right: 2em;
    height: max-content;
}

.songlist {
    display: grid;
    grid-template-columns: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.song {
    cursor: pointer;
    display: grid;
    grid-template-columns: 15%;
    margin-bottom: 2em;
    grid-gap: 1vw;
}

.song-name {
    color: gray;
    text-align: left;
    font-weight: 700;
    grid-column: 2;
    grid-row: 2;
}

.image {
    grid-column: 1;
    grid-row: 1/ span 2;
    max-width: 200px;
}

.artist {
    color: black;
    text-align: left;
    font-weight: 400;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.error {
    margin-right: auto;
    margin-left: auto;
    color: red;
    text-align: center;
    font-weight: 600;
    margin-top: 5em;
    padding: 2em;
    width: max-content;
    border: 2px solid red;
    background-color: rgb(247, 217, 217);
}

.stop-button {
    background-color: red;
    width: max-content;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

form > label {
    width: auto !important;
}

form > * {
    width: min-content;
}

form > * > * {
    margin: 0.5em;
}

#song-options {
    position: absolute;
    left: 90%;
}

#song-upload {
    text-align: center;
    padding: 1em;
}

#error-validation {
	width: auto;
	border: 1px solid #ff00006b;
	padding: 0.5em;
	background: #ff00001f;
	margin-bottom: 0.5em;
}

#search-bar {
    margin-left: 1.5em;
}

#search-image {
    height: 25px;
}

#welcome-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome-txt {
    margin: 1em;
}

#modal-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

#modal-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    max-width: 1024px;
    max-height: 90vh;
    background: #ffffff;
    font: 14px "Lato";
    opacity: 1;
    margin: 8px;
    padding: 0px;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(200, 200, 200, 0.53);
    -moz-box-shadow: 2px 2px 4px 0px rgba(200, 200, 200, 0.53);
    box-shadow: 2px 2px 4px 0px rgba(200, 200, 200, 0.53);
    overflow: hidden;
}

#song-info-table {
    border-spacing: 0.6em;
    width: 100%;
}

#song-info-table > caption {
    font-size: large;
    margin-top: 0.5em;
}

.details-key {
    background: #79dd753d;
    font-family: Verdana, sans-serif;
    padding-left: 0.3em;
}

#progress {
    width: 60%;
    background-color: #8080801c;
    margin: 5px auto;
}

#bar {
    width: 1%;
    height: 0.5em;
    background-color: #2eff2e91;
}

.chatarea {
    margin-left: 2em;
}

.chat {
    width: 80%;
    min-height: 200px;
}
